# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/
ENV/

tests/

~$*.*
*.zip
*.log
*.lst
*.html
*.sas7b*
*.egp
programs/*.cmd
